{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block journal_css %}
    <link rel="stylesheet" href="{{PORTAL_URL}}{% static "css/attendance.css" %}">
{% endblock journal_css %}

{% block title %}Журнал відвідування{% endblock title %}

{% block group_menu %}
    <select>
        <option value="">Усі Студенти</option>
        <option value="">Механіка, Гуцалюк Тарас (No 235)</option>
        <option value="">Статистика, Арфуа Райд (No 123)</option>
    </select>
{% endblock group_menu %}

{% block content %}
    <!-- Changing month -->
    <div style="width: 10%; margin: 0 auto;">
        <a id="month-button">&larr;</a><p id="month-button"><b>Жовтень</b></p><a>&rarr;</a>
    </div>

    <!-- Start Students Listing -->
    <table class="table table-hover table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Студент</th>
                <th>Ср<br>1</th>
                <th>Чт<br>2</th>
                <th>Пт<br>3</th>
                <th>Сб<br>4</th>
                <th>Нд<br>5</th>
                <th>Пн<br>6</th>
                <th>Вт<br>7</th>
                <th>Ср<br>8</th>
                <th>Чт<br>9</th>
                <th>Пт<br>10</th>
                <th>Сб<br>11</th>
                <th>Нд<br>12</th>
                <th>Пт<br>13</th>
                <th>Сб<br>14</th>
                <th>Нд<br>15</th>
                <th>Пн<br>16</th>
                <th>Вт<br>17</th>
                <th>Ср<br>18</th>
                <th>Чт<br>19</th>
                <th>Пт<br>20</th>
                <th>Сб<br>21</th>
                <th>Нд<br>22</th>
                <th>Пт<br>23</th>
                <th>Сб<br>24</th>
                <th>Нд<br>25</th>
                <th>Пн<br>26</th>
                <th>Вт<br>27</th>
                <th>Ср<br>28</th>
                <th>Чт<br>29</th>
                <th>Пт<br>30</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a title="Редагувати" href="#">{{student.last_name}}</a></td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- End Students Listing -->
{% endblock content %}
        <!-- End Main Page Content -->
{% block footer %}
        <!-- Start Footer -->
            <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; 2016 Сервіс Обліку Студентів
                </div>
            </div>
        <!-- End Footer -->
{% endblock footer %}
