{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Groups" %}{% endblock meta_title %}

{% block title %}{% trans "Groups" %}{% endblock title %}


{% block content %}
    <a class="btn btn-primary" href="{% url 'groups_add' %}">{% trans "Add Group" %}</a>

    <!-- Start Students Listing -->
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>
                        <a href="{% url "groups" %}?order_by=title{% if reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Title" %}
                        {% if reverse != '1' and order_by = '' %}&uarr;
                        {% elif reverse != '1' and order_by = 'title'%}&uarr;
                        {% elif reverse == '1' and order_by = 'title' %}&darr;{% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Leader" %}
                        {% if order_by == 'leader' and reverse != '1' %}&uarr;
                        {% elif order_by == 'leader' and reverse == '1' %}&darr;{% endif %}
                    </a>
                    </th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for group in groups %}
                <tr>

                    <td>{{ groups.start_index|add:forloop.counter0 }}</td>

                    <td><a title={%blocktrans%}"Edit"{%endblocktrans%} href="{% url 'groups_edit' group.id %}">{{group.title}}</a></td>
                    <td><a title={%blocktrans%}"Edit"{%endblocktrans%} href="{% url 'groups_edit' group.id %}">{{group.leader}}</a></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{% trans "Action " %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">{% trans "Attendance report" %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">{% trans "Edit" %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">{% trans "Delete" %}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    {% with object_list=groups %}
        {% include "students/pagination.html" %}
    {% endwith %}

{% endblock content %}


{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; {% trans "2016 Students Open Database" %}
                </div>
    </div>
{% endblock footer %}
