{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Attendance Report" %}{% endblock meta_title %}

{% block title %}{% trans "Attendance Report" %}{% endblock title %}

{% block content %}

{% if not students %}
	<div class="alert alert-warning">
		{% trans "There are no students in the database. Please, " %}Поки немає жодного студента в базі. Будь-ласка,
		<a href="{% url "students_add" %}">{% trans "add" %}</a> {% trans "first one" %}.
	</div>
{% else %}
	<div class="alert alert-info">
		{% trans "Changes in the report saves automatically after you click on checkboxes" %}
		<span id="ajax-progress-indicator">{% trans "Saving..." %}</span>
	</div>
	<p id="journal-nav" class="text-center">
		<a href="?month={{ prev_month }}" title={%blocktrans%}"Previous Month"{% endblocktrans %}>&larr;</a>

		<!-- TODO: translate month name -->
		<strong>{{ month_verbose }} {{ year }}</strong>
		<a href="?month={{ next_month }}" title={%blocktrans%}"Next Month"{% endblocktrans %}>&rarr;</a>
	</p>

	<table class="table table-hover table-striped table-bordered" id="students-journal">
		<thead>
			<tr class="header">
				<th class="num">#</th>
				<th class="name">{% trans "Student" %}</th>

				{% for day in month_header %}
					<th class="day-header">
						{% blocktrans with verbose=day.verbose %}
						{{ verbose }}
						{% endblocktrans %}
						<br />
						{% blocktrans with day=day.day %} 
						{{ day }}
						{% endblocktrans %}
					</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
		{% csrf_token %}
			{% for student in students %}
				<tr>
					<td>
						{% if is_paginated %}
							{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
						{% else %}
							{{ forloop.counter }}
						{% endif %}
					</td>

					<td>
						<a title={% blocktrans %}"Edit"{% endblocktrans %} target="_blank" href="{% url "students_edit" student.id %}">
							{{ student.fullname }}
						</a>
					</td>

					{% for day in student.days %}

						<td class="day-box">
							<input type="checkbox" data-student-id="{{ student.id }}"
							data-date="{{ day.date }}" data-url="{{ student.update_url }}"
							value="1"{% if day.present %} checked="checked" {% endif %} />
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}


{% with object_list=students %}
	{% include "students/pagination.html" %}
{% endwith %}

{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; {% trans "2016 Students Open Database" %}
                </div>
    </div>
{% endblock footer %}