{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати Студента{% endblock meta_title %}

{% block statusmessage %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
{% endblock statusmessage %}

{% block title %}Додати Студента{% endblock title %}

{% block group_menu %}
    <select name="Student_group" id="student_group">
        <option value="">Виберіть Групу</option>
        {% for group in groups %}
        <option value="{{ group.id }}">{{group.title}}</option>
        {% endfor %}
    </select>
{% endblock group_menu %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data" role="form"
          class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {% if errors.first_name %}has-error{% endif%}">
            <label for="first_name" class="col-sm-2 control-label">Ім'я*</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder="Введіть ваше ім'я" />
                <span class="help-block">{{ errors.first_name }}</span>
            </div>
            
        </div>

        <div class="form-group {% if errors.last_name %}has-error{% endif %}">
            <label for="last_name" class="col-sm-2 control-label">Прізвище*</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder="Введіть ваше прізвище" />
                <span class="help-block">{{ errors.last_name }}</span>
            </div>  
        </div>

        <div class="form-group {% if errors.middle_name %}has-error{% endif  %}">
            <label class="col-sm-2 control-label" for="middle_name">По-батькові</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name" />
                <span class="help-block">{{ errors.middle_name }}</span>
            </div> 
        </div>

        <div class="form-group {% if errors.birthday %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="birthday">Дата Народження*</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{request.POST.birthday}}" name="birthday" id="birthday" placeholder="рррр-мм-дд"/>
                <span class="help-block">{{ errors.birthday }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.photo %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="photo">Фото</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" value="{{ request.POST.photo }}" name="photo" id="photo" />
                <span class="help-block">{{ errors.photo }}</span>
            </div>  
        </div>

        <div class="form-group {% if errors.ticket %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="ticket">Білет*</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{request.POST.ticket}}" name="ticket" id="ticket" placeholder="Введіть номер білету" />
                <span class="help-block">{{ errors.ticket }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.student_group %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="student_group">Група*</label>

            <div class="col-sm-10">
                <select class="form-control" name="student_group" id="student_group" name="student_group">
                    <option value="">Виберіть групу</option>
                    {% for group in groups %}
                        <option value="{{group.id}}" {% if group.id == request.POST.student_group|add:0 %} selected="1"
                        {% endif %}> {{group.title}}</option>
                    {% endfor %}
                </select>
                <span class="help-block">{{ errors.student_group }}</span>
            </div>    
        </div>

        <div class="form-group {% if errors.notes %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="notes">Додаткові Нотатки</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="notes" id="notes">
                    {{ request.POST.notes }}
                </textarea>
                <span class="help-block">{{ errors.notes }}</span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div>
                <input type="submit" value="Додати" name="add_button" class="btn btn-primary" />
                <button type="submit" name="cancel_button" class="btn btn-link">Скасувати</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; 2016 Сервіс Обліку Студентів
                </div>
    </div>
{% endblock footer %}