{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Students List" %}{% endblock meta_title %}

{% block title %}{% trans "Students schedule" %}{% endblock title %}


{% block content %}
    <!-- Start Students Listing -->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                {% for day in weekday%}
                <th>{{day.dayoftheweek}}</th>
                {%endfor%}
            </tr>
            <tr>
                <th>#</th>
                <th>Discipline</th>
                <th>Room</th>
            </tr>
        </thead>
        <tbody>
            {% for p in sched_today %}
                <tr>
                    <td>{{p.para_number}}</td>
                    <td>{{p.para_subject}}</td>
                    <td>{{p.para_room}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End Students Listing -->



    <!-- End Main Page Content -->
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; {% trans "2016 Students Open Database" %}
                </div>
    </div>
{% endblock footer %}