{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Add Student" %}{% endblock meta_title %}

{% block statusmessage %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
{% endblock statusmessage %}

{% block title %}{% trans "Add Student" %}{% endblock title %}


{% block content %}
    <form action="." method="post" enctype="multipart/form-data" role="form"
          class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {% if errors.first_name %}has-error{% endif%}">
            <label for="first_name" class="col-sm-2 control-label">{% trans "First Name*" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder={% blocktrans %} "Enter first name"{% endblocktrans%} />
                <span class="help-block">{{ errors.first_name }}</span>
            </div>
            
        </div>

        <div class="form-group {% if errors.last_name %}has-error{% endif %}">
            <label for="last_name" class="col-sm-2 control-label">{% trans "Last Name*" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder={% blocktrans %} "Enter last name"{% endblocktrans%} />
                <span class="help-block">{{ errors.last_name }}</span>
            </div>  
        </div>

        <div class="form-group {% if errors.middle_name %}has-error{% endif  %}">
            <label class="col-sm-2 control-label" for="middle_name">{% trans "Middle Name" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name"/>
                <span class="help-block">{{ errors.middle_name }}</span>
            </div> 
        </div>

        <div class="form-group {% if errors.birthday %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="birthday">{% trans "Date of Birth*" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{request.POST.birthday}}" name="birthday" id="birthday" placeholder="yyyy-mm-dd"/>
                <span class="help-block">{{ errors.birthday }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.photo %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="photo">{% trans "Photo" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" value="{{ request.POST.photo }}" name="photo" id="photo" />
                <span class="help-block">{{ errors.photo }}</span>
            </div>  
        </div>

        <div class="form-group {% if errors.ticket %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="ticket">{% trans "Ticket #" %}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{request.POST.ticket}}" name="ticket" id="ticket" placeholder={% blocktrans %} "Enter ticket number"{% endblocktrans%} />
                <span class="help-block">{{ errors.ticket }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.student_group %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="student_group">{% trans "Group*" %}</label>

            <div class="col-sm-10">
                <select class="form-control" name="student_group" id="student_group" name="student_group">
                    <option value="">{% trans "Select group" %}</option>
                    {% for group in groups %}
                        <option value="{{group.id}}" {% if group.id == request.POST.student_group|add:0 %} selected="1"
                        {% endif %}> {{group.title}}</option>
                    {% endfor %}
                </select>
                <span class="help-block">{{ errors.student_group }}</span>
            </div>    
        </div>

        <div class="form-group {% if errors.notes %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="notes">{% trans "Notes" %}</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="notes" id="notes">
                    {{ request.POST.notes }}
                </textarea>
                <span class="help-block">{{ errors.notes }}</span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div>
                <input type="submit" value={%blocktrans%}"Add"{%endblocktrans%} name="add_button" class="btn btn-primary" />
                <button type="submit" name="cancel_button" class="btn btn-link">{% trans "Cancel" %}</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; {% trans "2016 Students Open Database" %}
                </div>
    </div>
{% endblock footer %}