{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Зв'язок із Адміністратором{% endblock meta_title %}


{% block statusmessage %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
{% endblock statusmessage %}


{% block title %}Зв'язок із Адміністратором{% endblock title %}


{% block content %}
	{% crispy form %}
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; 2016 Сервіс Обліку Студентів
                </div>
    </div>
{% endblock footer %}