{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Contact Admin" %}{% endblock meta_title %}


{% block statusmessage %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
{% endblock statusmessage %}


{% block title %}{% trans "Contact Admin" %}{% endblock title %}


{% block content %}
	{% crispy form %}
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
                <div class="col-xs-12">
                    &copy; {% trans "2016 Students Open Database" %}
                </div>
    </div>
{% endblock footer %}